html,body{
	height:100%;
	background: url(../images/header.jpg) no-repeat center center fixed;
	font-family: 'Montserrat', sans-serif;
	background-size:cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}
h1{
	font-size:3rem;
	color:#e2dbdb;
}

.btn{
	text-transform: uppercase;
}
.btn-xl{
	padding:1rem 2rem;
	border-radius:350px;
}
.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover{
	background-color: #FF4F00;
	border-color: #FF4F00;
}
hr{
	width:65px;
	border-color:#F05F44;
	border-width:3px;
}

.buffer{
	height:10rem;
}